<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            Event Management
        </h1>
    </header>
    <main>
        <% if(events.length) { %>
            <% events.forEach(eve => { %>
                <section>
                    <h2>
                        List of the Event's
                    </h2>
                    <div class="event-list">                                           
                        <a href="/event/<%= eve.id %>">
                            <h3>
                                <%= eve.title %>
                            </h3> 
                        </a>
                    </div>
                </section>            
                <% }) %>     
        <%  }else{ %>
                <h2>
                    No Events Currently Available
                </h2>
        <% } %> 
    </main> 
</body>
</html>