<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <section>
        <p>Welcome to <%= title %></p>
        <a href="/event/">
          Details Page
        </a>
        <a href="/event/new">
          Create New Event
        </a>
      </section>
    </main>
  </body>
</html>
